@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

@import url(http://fonts.googleapis.com/css?family=Arimo:700,700italic);

* {
    font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    height: 55px;
    width: 100%;
    background: linear-gradient(5deg, rgba(0,54,177,1) 0%, rgba(0,125,255,1) 100%);
}

.navbar-menu {
    font-size: 35px;
    margin-left: 15px;
    color: white;
}

.navbar-menu button {
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 3.5px;
    padding-top: 0;
    padding-bottom: 0;
    border-color: rgba(0, 0, 0, 0);
    color: white;
    transition: all 0.3s;
}

.navbar-menu button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

.navbar-title {
    font-size: 35px;
    float: right;
    position: relative;
    bottom: 82px;
    padding-right: 15px;
    color: rgb(233, 233, 233);
}

.sidebar {
    direction: rtl;
    position: fixed;
    top: 55px;
    left: -20%;
    height: calc(100vh - 55px);
    overflow: auto;
    width: 20%;
    background: linear-gradient(5deg, rgba(0,54,177,1) 0%, rgba(0,125,255,1) 100%);
}

.sidebar-link {
	text-decoration: none;
	color: black;
	width: calc(100% - 20%);
	margin-left: 25px;
	background-color: rgba(255, 255, 255, 0.67);
	direction: ltr;
	float: left;
}
.sidebar a:not(.sidebar-link) {

	text-decoration: none;
	color: black;
	float: left;
	margin-left: 25px;
	padding-left: 25px;
}

.sidebar a:hover {
	color: #303030;
}

.docs-body {
    z-index: -1;
    position: absolute;
    top: 55px;
	width: calc(100% - 30px);
    margin-left: 15px;
}

.docs-body > h1 {
	font-size: 300%;
	border-bottom: 2px gray solid;
}

.docs-body > h2 {
	font-size: 200%;
	border-bottom: 1.5px gray solid;
}

.docs-body > h3 {
	font-size: 150%;
}

.docs-body > p {
	font-size: 125%;
}

.center {
	text-align: center;
}

.docs-body > pre, code {
    font-family: Menlo, Monaco, "Courier New", monospace;
    background-color: #fafafa;
    border-left: 4px #c0c0c0 solid;
    padding-left: 7px;
	padding-top: 3.5px;
	padding-down: 3.5px;
}